# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Bootstrap4\conFusion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
